.App {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  background-color: rgb(47, 46, 46);
}

ul {
  list-style-type: none;
  padding: 0;
}

.tittle {
  font-size: 50px;
  color: white;
  padding-top: 50px;
}

.span {
  font-size: 50px;
}
.poke-item {
  width: 250px;
  height: 250px;
}

.pokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
