@import './core/reset.scss';
@import './core/variables.scss';
.App {
  text-align: center;
  font-family: $font-secondary;
  background: linear-gradient(to bottom, black, rgb(56, 54, 54));
  width: 100%;
}
