@import './core/variables.scss';
.contactContainer {
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
  height: 100px;
  &__list {
    display: flex;
    margin: 10px;
  }
  &__aloha {
    color: $color-links;
    font-family: $font-primary;
    margin-right: 50px;
    font-size: 30px;
    margin-top: 25px;
  }
  &__aloha:hover {
    transform: scale(1.05);
  }
}
