.contactContainer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  &__list {
    display: flex;
  }
  &__aloha {
    color: rgb(59, 220, 128);
    font-family: 'Caesar Dressing', cursive;
    margin-right: 50px;
    font-size: 30px;
    margin-top: 15px;
  }
  &__aloha:hover {
    transform: scale(1.05);
  }
}
