@import './core/reset.scss';
@import './core/mixins.scss';
@import './core/variables.scss';
.bio {
  background-image: url('../data/ilustracion/pared.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  justify-content: center;
  max-height: calc(100vh - 132px);
  background-color: rgb(37, 36, 36);
  background-blend-mode: lighten, luminosity;
  .ilustracion {
    margin: 0;
    width: 400px;
  }

  &__container {
    margin-top: 30px;
    background-color: rgba(57, 56, 56, 0.687);
    border-radius: 100px;
    padding: 10px;
  }

  &__tittle {
    color: $color-text;
    font-family: $font-primary;
    font-size: 25px;
  }

  &__description {
    font-size: 20px;
    color: $color-text;
    max-width: 850px;
    font-size: 15px;
    line-height: 30px;
  }
  &__scroll {
    width: 20px;
  }
  &__p {
    margin: 0;
  }
  .link {
    color: $color-links;
    padding: 40px;
    font-family: $font-primary;
    font-size: 20px;
  }

  &__img {
    width: 30px;
  }
  &__img:hover {
    transform: scale(1.05);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 5px 5x $color-links;
    -webkit-box-shadow: 0px 0px 5px 5px rgb(35, 101, 63);
  }
  &__contactoInfo {
    font-family: 'Caesar Dressing', cursive;
    color: $color-links;
  }
}

.content {
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'Caesar Dressing', cursive;
  font-size: 35px;
  color: #ecf0f1;
  margin-left: 410px;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: '¡';
      left: 0;
    }

    &:after {
      content: '!';
      position: absolute;
      right: 0;
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;
      color: $color-links;
      font-size: 42px;
      line-height: 40px;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}
@include animacion;
