@import './core/variables.scss';
.contact {
  background-color: rgb(127, 126, 126);
  border-radius: 10px;
  width: 50px;
  margin: 5px;
  border-radius: 50px;
  display: flex;
  border: 1px solid $color-links;
  &:hover {
    transform: scale(1.05);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 5px 5x $color-links;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(246, 253, 108, 0.183);
  }
  &__img {
    width: 30px;
    padding: 10px;
  }
}
