.project {
  text-decoration: none;
  width: 300px;
  display: flex;

  .container {
    background-color: rgb(83, 82, 82);
    border-radius: 20px;
    padding: 10px;
    height: 480px;
  }

  @import './core/variables.scss';
  .marco {
    background-color: rgb(36, 35, 35);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
  }

  &__image {
    width: 200px;
    border-radius: 20px;
    padding: 20px;

    &:hover {
      transform: scale(1.03);
    }
    &--real {
      width: 100%;
      border-radius: 20px;
      object-fit: contain;
    }
  }
  &__name {
    color: $color-links;
    font-family: $font-primary;
    font-size: 20px;
    margin-top: 10px;
  }
  &__github {
    color: $color-links;
  }
  &__technologies {
    color: rgb(223, 251, 97);
    display: flex;
    grid-row-gap: 1px;
    grid-column-gap: 9px;
    justify-content: center;
  }
}
