@import './core/variables.scss';
.listItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  padding: 20px;
  grid-gap: 50px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tittle {
  color: transparent;
  font-family: 'Caesar Dressing', cursive;
}
