//fonts
$font-primary: 'Caesar Dressing', cursive;
$font-secondary: 'Roboto', sans-serif;

//media queryes
$tablet: 768px;
$movil: 480px;

//color
$color-links: rgb(59, 220, 128);
$color-text: white;
$color-links-proyects: rgb(223, 251, 97);
